/* #canvas-image-blending {
  position: absolute;
  width: 100%;
  height: 750px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
} */

#canvas-image-blending {
  background-color: rgba(0, 0, 0, 0.925);
  width: 100%;
  height: 10vh; /* or the desired height */
}

.main-content {
  padding: 5% 5%;
}

.header {
  display: flex;
}

.work-header {
  display: flex;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 3.0rem;
  font-weight: 700;
  color: whitesmoke;
}

h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.0rem;
  font-weight: 500;
  color: whitesmoke;
}

h3 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: whitesmoke;
  padding-bottom: 10px;
}

h3:hover {
  color: #1b955c;
}

h4 {
  font-family: 'Rubik', sans-serif;
  color: whitesmoke;
}

p {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: whitesmoke;
}

a.links {
  color: var(--c,#1b955c);
}

a.links:hover {
  background-color: #1b955c;
  color: white;
}

.time-text {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  color: whitesmoke;
}

.header-text {
  width: 80%
}

.header-image {
  width: 65%;
  height: 65%;
}

.col {
  padding-bottom: 30px;
}

.rounded-corners {
  border-radius: 20px;
  height: 300px;
}

.title-image {
  border-radius: 20px;
  width: 80%;
}

.exp-image {
  width: 40%;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(114, 114, 114, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #000000;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #ffffff;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 3%;
}

.close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-position: outside;
  list-style-type: square;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.flex-container-reverse {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.big-container-left {
  flex: 70%;
  padding: 10px;
  text-align: left;
}

.small-container-right {
  flex: 30%;
  padding: 10px;
  text-align: right;
}

.big-container-right {
  flex: 70%;
  padding: 10px;
  text-align: left;
}

.small-container-left {
  flex: 30%;
  padding: 10px;
  text-align: left;
}

/* Contact me section */

.fa {
  padding: 20px;
  font-size: 20px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 25%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-envelope-open-o {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.fa-linkedin {
  background: #0072b1;
  color: white;
}

.fa-github {
  background: #4078c0;
  color: white;
}

.fa-mobile {
  background: #1b955c;
  color: white;
}

/* Styling for the progress bars */

.progressbar {
  height: 30px;
  width: 20%;
  background-color: #3D348B;
  display: flex;
  align-items: center;
  margin: 20px;
}

.inner-progressbar {
  background-color: #7678ED;
  height: 22px;
  margin-left: 4px;
  margin-right: 4px;
  padding-right: 4px;
  color: white;
  text-align: right;
  font-size: 15px;
}

.italian {
  width: 100%;
}

.english {
  width: 100%;
}

.german {
  width: 85%;
}

.mandarin {
  width: 20%
}

.closeModal1 {
  color: white;
}
.closeModal2 {
  color: white;
}
.closeModal3 {
  color: white;
}
.closeModal4 {
  color: white;
}
.closeModal5 {
  color: white;
}
.closeModal6 {
  color: white;
}
.closeModal7 {
  color: white;
}
.closeModal8 {
  color: white;
}
/* .closeModal1 {
  color: white;
}
.closeModal1 {
  color: white;
}
.closeModal1 {
  color: white;
}
.closeModal1 {
  color: white;
}
.closeModal1 {
  color: white;
}
.closeModal1 {
  color: white;
} */

#toggleExperience1 {
  display: none;
}

#toggleExperience1:checked ~ #experienceList1 {
  display: block;
}

#experienceList1 {
  display: none;
}

#toggleExperience2 {
  display: none;
}

#toggleExperience2:checked ~ #experienceList2 {
  display: block;
}

#experienceList2 {
  display: none;
}

#toggleExperience3 {
  display: none;
}

#toggleExperience3:checked ~ #experienceList3 {
  display: block;
}

#experienceList3 {
  display: none;
}

#toggleExperience4 {
  display: none;
}

#toggleExperience4:checked ~ #experienceList4 {
  display: block;
}

#experienceList4 {
  display: none;
}

#toggleExperience99 {
  display: none;
}

#toggleExperience99:checked ~ #experienceList99 {
  display: block;
}

#experienceList99 {
  display: none;
}

@media only screen and (max-width: 550px) and (min-width: 200px){
  .container-fluid {
    align-content: center;
  }

  .header {
    display: inline;
    align-items: center;
  }

  .progressbar {
    width: 60%;
  }

  .flex-container-reverse {
    flex-direction: column-reverse;
  }
  
  .big-container-left, .small-container-right {
    flex: 100%;
  }

  .small-container-right {
    text-align: center;
  }

  .big-container-right, .small-container-left {
    flex: 100%;
  }

  .small-container-left {
    text-align: center;
  }
}
